body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
    text-align: center;
    background-color: #6C85A6;
    margin: 100px;
}
.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
  color: white;
}
.answers label{
  display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #008B8B;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}

img {
  margin: 20px;
  width: 80%;
  height: 80%;
  z-index: -5;
}
